html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;

}


body,
.example h1,
.example p,
.example .button {
  transition: all .2s ease-in-out;
}

body.light-theme {
  background-color: #151515;
  background-size: 75px 75px; background-image: linear-gradient(to right, grey 1px, transparent 0.000001px), linear-gradient(to bottom, grey 1px, transparent 0.1px); 

}

body.light-theme .example h1 {
  color: #FFFFFF;
}

body.light-theme .example p {
  color: #FFFFFF;
}

body.light-theme .buttons .button {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

body.light-theme .buttons .button:hover {
  color: #151515;
  background-color: #151515;
}

.example {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

.example .flipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.example p {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 35px;
}

.example .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #333;
  margin: 0px;
}

.example .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
  border: solid 2px #333;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.example .button:hover {
  background-color: #333;
  color: #FFF;
}

.example .button i {
  margin-right: 5px;
}

@media(max-width: 620px) {
  .example {
    width: 100%;
    
  }
  .scaledlogo {
    width: 14em;
    height: 5em;
    margin-top: 30px;
  }

  .example h1 {
    font-size: 2.5em;
  }

  .example p {
    margin-bottom: 25px;
  }

  .example .buttons {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
  }

  .example .buttons p,
  .example .buttons a {
    float: none;
    margin: 0 auto;
  }

  .example .buttons p {
    padding-right: 0px;
  }

  .example .buttons a {
    display: inline-block;
  }
}

.background {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  position: absolute;
  left: 0px;
  bottom: 0%;
  z-index: -5;

}

.ball {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}


.cool{
  font-weight: 350;
  font-size: 2.8em;
  margin-top: -0.6em;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.inputbox {
  text-align: center;
  width: 200px;
}

.scaledlogo{
  width: 20em;
  height: auto;
  margin-top: 30px;
}

.sneakbtn {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 240px;
  padding: 40px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  transform: translateY(-50%);
  box-shadow: 0 10px 20px -5px #94a6af;
  overflow: hidden;
}

.sneakbtn:before,
.sneakbtn:after {
  content: "fff";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sneakbtn:before {
  content: "moi";

  transform: scale(10);
  background-image: url("https://himalayasingh.github.io/button-hover-effect-1/img/bg.jpg");
  background-size: cover;
  transition: 0.3s ease transform;
  z-index: 100;
}

.sneakbtn:after {
  background-color: #000;
  opacity: 0.16;
  z-index: 200;
}



.sneakbtn:hover:before {
  transform: scale(1);
  content: "YEAH !";
}

.sneakbtn2:before{
  content: "Hacking the future in...";
}

.sneakbtn2:hover:before {
  content: "Now, Click this!";
}

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-random: #3418ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-black-1);
}
.pixel{
  position: relative;
  width: 280px;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  
  text-transform: uppercase;
  opacity: 0.000001;
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid rgb(249, 80, 40);
  animation: 1s ease-out animate var(--speed-fast) steps(8) forwards;

}

.pixel::placeholder {
  color: grey;
}
.pixel:focus {
  border: 1px solid transparent;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png); 
  transition-delay: 0.8s;
  background-size: 180px;
  border-radius: 30px;
  opacity: 1;
  animation: animate var(--speed-fast) steps(8  ) forwards;
}

.pixel2:last-of-type {
  border: 1px solid rgb(249, 80, 40);
}
.pixel2:last-of-type:hover {
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png); 
}
 
@keyframes animate {
  0% {
    opacity: 0.1;
    color: white;
    background-position-y: 0;
    border-radius: 30px;

  }
  100% {
    opacity: 1;
    border-radius: 30px;

    color: white;
    background-position-y: -480px;
  }
}

.pixel2{
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
  animation: 0.3s animate2 var(--speed-fast) steps(8) forwards;

}

@keyframes animate2 {
  0% {
    background-position-y: 0;
    opacity: 0.1;
  }
  90% {
    background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
    transition-delay: 2s;
    background-size: 180px;
    border: 1px solid rgb(249, 80, 40);

    opacity: 1;
    border-radius: 30px;

    background-position-y: -480px;
  }
  100% {
    background-color: red;
    border-radius: 30px;
    border: 1px solid rgb(249, 80, 40);

    margin-bottom: 20px;
  }
}

.button {
  display: block;
  margin: auto;
  background-color: rgb(249, 80, 40);
  border: none;
  margin-bottom: 20px;
  
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(206, 66, 35);

}


.pixel3{
  position: relative;
  width: 280px;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 20px;

  text-transform: uppercase;
  opacity: 0.000001;
  text-align: center;
  color: white;
  border: 1px solid rgb(249, 80, 40);
  background: rgb(249, 80, 40);
  background-size: 180px;
  opacity: 1;


}

.clickSubmit {

  overflow: hidden;
  -webkit-animation:animateSubmit 2s;
  -moz-animation:animateSubmit 2s;
  -o-animation:animateSubmit 2s;
  -ms-animation:animateSubmit 2s;
  animation:animateSubmit 2s;
}

.animateSubmit {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@keyframes animateSubmit {
  0% {

  }
  100% {
    opacity:1;
    margin-left:3500px;
  }
}

#canvas{
  z-index:-1;
  opacity: 0;
}
